include LICENSE README.md
recursive-include minimo *.mot
recursive-include minimo *.mo
recursive-include minimo *.po_en
recursive-include minimo *.po_zh
recursive-include minimo *.template

global-exclude *.py[co] .placeholder