# -*- coding:utf-8 -*-

__author__ = "{{author}}"
__date__ = "{{date}}"


from lib.python.config import *


"""测试数据"""

# url = "https://path-to-project

# account = {"name": "login-name", "password": "login-password"}